Repository Matheus73/ObraCerta, pull requests merged in 2020-11, with the labels that each got.

#3 Criando README.md
  back/README.md
Labels: documentation

#4 Atualização do front
  front/README.md
  front/package.json
  front/public/favicon.ico
  front/public/index.html
  front/public/logo192.png
  front/public/logo512.png
  front/public/manifest.json
  front/src/App.css
  front/src/App.js
  front/src/App.test.js
  front/src/assets/triangulobackground.svg
  front/src/assets/triangulobackground2.svg
  front/src/components/Background/index.js
  front/src/components/Button/index.js
  front/src/components/Footer/index.js
  front/src/components/Footer/styles.js
  front/src/components/Input/index.js
  front/src/components/Input/styles.js
  front/src/components/Item/index.js
  front/src/components/Navbar/index.js
  front/src/components/Navbar/styles.js
  front/src/index.css
  front/src/index.js
  front/src/logo.svg
  front/src/pages/Cadastro/index.js
  front/src/pages/Cadastro/styles.js
  front/src/pages/Home/index.js
  front/src/routes/index.js
  front/src/serviceWorker.js
  front/src/styles/global.js
  front/yarn.lock
Labels: front

#17 Adicionando cors e integrando com o back
  back/package-lock.json
  back/package.json
  back/src/database/migrations/20201107180716_criando_tabela_usuario.js
  back/src/server.js
  front/src/pages/Cadastro/index.js
Labels: enhancement

#25 Email validation
  front/src/pages/Cadastro/index.js
Labels: front

#27 adicionado mascara e validaçao para o telefone
  front/package.json
  front/src/components/InputMask/index.js
  front/src/pages/Cadastro/index.js
  front/yarn.lock
Labels: front

#29 criado pagina de termos de uso
  front/src/App.js
  front/src/pages/Cadastro/index.js
  front/src/pages/UseTherms/index.js
  front/src/pages/UseTherms/styles.js
Labels: documentation, front

#39 Recover
  front/src/pages/Login/index.js
  front/src/pages/Login/styles.js
  front/src/pages/RecuperarSenha/index.js
  front/src/pages/TermosDeUsuario/index.js
  front/src/routes/index.js
Labels: front

#54 Sobre
  front/src/assets/VerticalCards/SobreCards/Ig.svg
  front/src/assets/VerticalCards/SobreCards/Kess.svg
  front/src/assets/VerticalCards/SobreCards/Mat.svg
  front/src/assets/VerticalCards/SobreCards/Ped.svg
  front/src/assets/VerticalCards/SobreCards/Rob.svg
  front/src/assets/VerticalCards/SobreCards/Sam.svg
  front/src/assets/krimps.svg
  front/src/components/Navbar/index.js
  front/src/pages/Sobre/index.js
  front/src/pages/Sobre/styles.js
  front/src/routes/index.js
Labels: front
